.title {
    text-align: left;
    color: rgba(255, 255, 255, 0.808);
     
}

.second_title {
    color: rgb(243, 255, 192);
    margin-top: 50px;
    margin-bottom: 20px;
}

body {
    background-color: rgb(32, 31, 31);
}

.text {
    color: white;
    font-size: 15px;
    margin-top: -10px;
}

.link {
    color: rgb(245, 235, 217);
    font-size: 15px;
    text-transform: opacity 0.15s;
}

.link:hover {
    opacity: 0.7;
}