p {
    cursor: default;
}
body {
    background: linear-gradient(45deg, #8a2be2, #4b0082, #9370db, #ba55d3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.Title {
    font-size: 70px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    margin-top: -0.5px;
    animation: neon 1.5s ease-in-out infinite alternate;
    position: relative;
    cursor: pointer;

}

.Title::after {
    content: "Link To My Youtube Channel";
    font-size: 16px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.Title:hover::after {
    opacity: 1;
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.3);
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    }
}

.aboutMeTitle {
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: -15px;
}

.aboutMeText {
    font-size: 20px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: -15px;
    margin-bottom: 35px;
}

.aboutMeText:hover {
    cursor: default;
}

.aboutMeTitle:hover {
    cursor: default;
}

.charImage {
    width: 48%;
    height: 48%;
    object-fit: fill;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
   
    opacity: 90%;

}

.groupIcon {
    
    width: auto;
    height: auto;
    object-fit: fill;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
   
    opacity: 90%;
    margin-bottom: 5px;
}

.joinGroup {
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;
    margin-top: -10px;
    
    
}

.darkArea {
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    width: 40%;
    height: 17%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 50%;
    z-index: -1;
}

.socialsTitle {
    margin-top: 130px;
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 0 20px rgb(255, 255, 255), 0 0 40px rgba(255, 255, 255, 0.521);
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 1;
    margin-bottom: -20px;
}

.kocialsTitle {
    
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 1;
    margin-bottom: -20px;
}

.workEmail {
    
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    color: #ffffff;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3);
    animation: neon 1.5s ease-in-out infinite alternate;
    opacity: 1;
    margin-bottom: -20px;
    position: relative;
    cursor: text;
}

.workEmail:hover::after {
    content: "wwchaseww.business.email@gmail.com";
    position: absolute;
    bottom: -50px;
    left: 50%;
    
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.205);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    
}

.text {
    height: 30%;
}

.ending {
    font-size: 12px;
    position: absolute;
    
    right: 1%;
}